<%- include('../components/header', { titulo: 'Panel Admin' }) %>
<h2 class="mb-3">Panel de Administracion</h2>
<table class="table">
    <tbody>
        <tr>
            <th>Usuarios</th>
            <td><%= resumen.usuarios %></td>
        </tr>
        <tr>
            <th>Canchas</th>
            <td><%= resumen.canchas %></td>
        </tr>
        <tr>
            <th>Reservas</th>
            <td><%= resumen.reservas %></td>
        </tr>
    </tbody>
</table>
<%- include('../components/footer') %>
